<!--通用的头部 css等-->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="common_head(title)">

    <!-- Common styles and scripts -->
    <meta charset="utf-8"/>

    <title th:replace="${title}">The awesome application</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <link th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css">


    <!--[if IE 7]>

    <link rel="stylesheet" th:href="@{/static/assets/css/font-awesome-ie7.min.css}"/>

    <![endif]-->


    <!-- page specific plugin styles -->


    <!-- ace styles -->


    <link rel="stylesheet" th:href="@{/static/assets/css/ace.min.css}"/>

    <link rel="stylesheet" th:href="@{/static/assets/css/ace-rtl.min.css}"/>

    <link rel="stylesheet" th:href="@{/static/assets/css/ace-skins.min.css}"/>


    <!--[if lte IE 8]>

    <link rel="stylesheet" th:href="@{/static/assets/css/ace-ie.min.css}"/>

    <![endif]-->


    <!-- inline styles related to this page -->


    <!-- ace settings handler -->


    <script th:src="@{/static/assets/js/ace-extra.min.js}"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->


    <!--[if lt IE 9]>

    <script th:src="@{/static/assets/js/html5shiv.js}"></script>

    <script th:src="@{/static/assets/js/respond.min.js}"></script>

    <![endif]-->

    <!--/* Per-page placeholder for additional links */-->
    <!--<th:block th:if="${links}  != null " th:replace="${links}" />-->


</head>

</html>

