<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--通用CSS-->
<head th:replace="common/common_head :: common_head(~{::title}, ~{::link})">
    <title>商品列表</title>

    <link rel="stylesheet" th:href="@{/static/assets/css/ace-skins.min.css}"/>

    <link rel="stylesheet" th:href="@{/static/assets/css/colorbox.css}"/>
</head>

<body>
<!--nav-->
<div th:replace="layout/nav::nav"/>


<div class="main-container" id="main-container">

    <script type="text/javascript">

        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }

    </script>


    <div class="main-container-inner">

        <a class="menu-toggler" id="menu-toggler" href="#">

            <span class="menu-text"></span>

        </a>


        <!--sidebar-->
        <div th:replace="layout/sidebar::sidebar"/>

        <div class="main-content">

            <div class="breadcrumbs" id="breadcrumbs">

                <script type="text/javascript">

                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }

                </script>


                <ul class="breadcrumb">

                    <li>

                        <i class="icon-home home-icon"></i>

                        <a href="#">Home</a>

                    </li>


                    <li>

                        <a href="#">Tables</a>

                    </li>

                    <li class="active">jqGrid plugin</li>

                </ul><!-- .breadcrumb -->


                <div class="nav-search" id="nav-search">

                    <form class="form-search">

								<span class="input-icon">

									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>

									<i class="icon-search nav-search-icon"></i>

								</span>

                    </form>

                </div><!-- #nav-search -->

            </div>


            <div class="page-content">

                <div class="page-header">

                    <h1>

                        商品

                        <small>

                            <i class="icon-double-angle-right"></i>

                            列表

                        </small>

                    </h1>

                </div><!-- /.page-header -->


                <div class="row">

                    <div class="col-xs-12">

                        <!-- PAGE CONTENT BEGINS -->

                        <div class="hr hr-18 dotted hr-double"></div>

                        <!-- modal-table -->
                        <div class="row">

                            <div class="col-xs-12">

                                <h3 class="header smaller lighter blue">商品列表</h3>

                                <div class="table-header">

                                    当前所有商品

                                </div>


                                <div class="table-responsive">

                                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">

                                        <thead>

                                        <tr>

                                            <th class="center">

                                                <label>

                                                    <input type="checkbox" class="ace"/>

                                                    <span class="lbl"></span>

                                                </label>

                                            </th>

                                            <th>商品名称</th>

                                            <th>商品描述</th>

                                            <th>品牌</th>

                                            <th>型号</th>

                                            <th>配置</th>

                                            <th>

                                                <i class="icon-time bigger-110 hidden-480"></i>

                                                上牌时间

                                            </th>


                                            <th>

                                                <i class="icon-time bigger-110 hidden-480"></i>

                                                保险时间

                                            </th>


                                            <th>

                                                <i class="icon-time bigger-110 hidden-480"></i>

                                                验车时间

                                            </th>

                                            <th>过户次数</th>
                                            <th>汽车排量</th>
                                            <th>行驶里程</th>
                                            <th>价格</th>
                                            <th>汽车排放标准</th>
                                            <th>车身颜色</th>
                                            <th>手动自动</th>

                                            <th class="hidden-480">状态</th>

                                            <th>

                                                <i class="icon-time bigger-110 hidden-480"></i>

                                                创建时间

                                            </th>

                                            <th>

                                                <i class="icon-time bigger-110 hidden-480"></i>

                                                更新时间

                                            </th>

                                            <th>

                                                图片

                                            </th>


                                            <th>操作</th>

                                        </tr>

                                        </thead>


                                        <tbody>
                                        <!--内容-->
                                        <tr th:each="car : ${cars}" th:id="${car.id}">

                                            <!--第一列-->
                                            <td class="center">

                                                <label>

                                                    <input type="checkbox" class="ace"/>

                                                    <span class="lbl"></span>

                                                </label>

                                            </td>
                                            <!--商品名称-->
                                            <td th:text="${car.title}"/>

                                            <!--商品描述-->
                                            <td th:text="${car.description}"/>

                                            <!--品牌-->
                                            <td th:text="${car.band}"/>

                                            <!--型号-->
                                            <td th:text="${car.mark}"/>

                                            <!--配置-->
                                            <td th:text="${car.config}"/>

                                            <!--上牌时间-->
                                            <td th:text="${car.regTime}"/>

                                            <!--保险时间-->
                                            <td th:text="${car.insuranceTime}"/>

                                            <!--验车时间-->
                                            <td th:text="${car.checkTime}"/>

                                            <!--过户次数-->
                                            <td th:text="${car.transferNum}"/>

                                            <!--汽车排量-->
                                            <td th:text="${car.outputVolume}"/>

                                            <!--行驶里程-->
                                            <td th:text="${car.distance}"/>

                                            <!--价格-->
                                            <td th:text="${car.price}"/>

                                            <!--汽车排放标准-->
                                            <td th:text="${car.outputStandard}"/>

                                            <!--车身颜色-->
                                            <td th:text="${car.color}"/>

                                            <!--手动自动-->
                                            <td th:text="${car.model}"/>

                                            <!--手动自动-->
                                            <td th:text="${car.model}"/>

                                            <!--创建时间-->
                                            <td th:text="${car.createTime}"/>

                                            <!--更新时间-->
                                            <td th:text="${car.updateTime}"/>

                                            <!--商品图片-->
                                            <td>
                                                <ul class="ace-thumbnails">

                                                    <li th:each="image : ${car.getCarImages()}">

                                                        <!--<a th:href="'/api/file/image/' + ${image.imageId}" title="" data-rel="colorbox">-->

                                                        <img th:width="180" th:height="180" alt="150x150"
                                                             th:src="'/api/file/image/' + ${image.imageId}"
                                                             data-rel="colorbox"/>


                                                        <div class="tools">

                                                            <a href="#">

                                                                <i class="icon-pencil"></i>

                                                            </a>


                                                            <a href="#">

                                                                <i class="icon-remove red"></i>

                                                            </a>

                                                        </div>

                                                    </li>

                                                </ul>
                                            </td>


                                            <!--操作-->
                                            <td>

                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">

                                                    <a class="blue" href="#">

                                                        <i class="icon-zoom-in bigger-130"></i>

                                                    </a>


                                                    <a class="green" href="#">

                                                        <i class="icon-pencil bigger-130"></i>

                                                    </a>


                                                    <a class="red" href="javascript:void(0)" th:data-id="${car.id}"
                                                       th:onclick="deleteGoods(this.getAttribute('data-id'))">

                                                        <i class="icon-trash bigger-130"></i>

                                                    </a>

                                                </div>


                                                <div class="visible-xs visible-sm hidden-md hidden-lg">

                                                    <div class="inline position-relative">

                                                        <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                                data-toggle="dropdown">

                                                            <i class="icon-caret-down icon-only bigger-120"></i>

                                                        </button>


                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">

                                                            <li>

                                                                <a href="#" class="tooltip-info" data-rel="tooltip"
                                                                   title="View">

																				<span class="blue">

																					<i class="icon-zoom-in bigger-120"></i>

																				</span>

                                                                </a>

                                                            </li>


                                                            <li>

                                                                <a href="#" class="tooltip-success" data-rel="tooltip"
                                                                   title="Edit">

																				<span class="green">

																					<i class="icon-edit bigger-120"></i>

																				</span>

                                                                </a>

                                                            </li>


                                                            <li>

                                                                <a href="#" class="tooltip-error" data-rel="tooltip"
                                                                   title="Delete">

																				<span class="red">

																					<i class="icon-trash bigger-120"></i>

																				</span>

                                                                </a>

                                                            </li>

                                                        </ul>

                                                    </div>

                                                </div>

                                            </td>

                                        </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </div>

                        </div><!-- PAGE CONTENT ENDS -->

                    </div><!-- /.col -->

                </div><!-- /.row -->

            </div><!-- /.page-content -->

        </div><!-- /.main-content -->


        <div class="ace-settings-container" id="ace-settings-container">

            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">

                <i class="icon-cog bigger-150"></i>

            </div>


            <div class="ace-settings-box" id="ace-settings-box">

                <div>

                    <div class="pull-left">

                        <select id="skin-colorpicker" class="hide">

                            <option data-skin="default" value="#438EB9">#438EB9</option>

                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>

                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>

                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>

                        </select>

                    </div>

                    <span>&nbsp; Choose Skin</span>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"/>

                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"/>

                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs"/>

                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>

                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container"/>

                    <label class="lbl" for="ace-settings-add-container">

                        Inside

                        <b>.container</b>

                    </label>

                </div>

            </div>

        </div><!-- /#ace-settings-container -->

    </div><!-- /.main-container-inner -->


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

    </a>

</div><!-- /.main-container -->


<!-- basic scripts -->

<!--使用公有js-->
<div th:replace="common/common_js::common_js(~{::script})">

    <!-- page specific plugin scripts -->
    <script th:src="@{/static/assets/js/jquery.dataTables.min.js}"></script>

    <script th:src="@{/static/assets/js/jquery.dataTables.bootstrap.js}"></script>


    <script th:src="@{/static/assets/js/jquery.colorbox-min.js}"></script>

    <!-- inline scripts related to this page -->
    <script th:src="@{/static/assets/js/moudle/goods_list.js}"></script>
</div>


</body>

</html>

