<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--通用CSS-->
<head th:replace="common/common_head :: common_head(~{::title})">
    <title>帮助</title>
</head>

<body>
<!--nav-->
<div th:replace="layout/nav::nav"/>


<div class="main-container" id="main-container">

    <script type="text/javascript">

        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }

    </script>


    <div class="main-container-inner">

        <a class="menu-toggler" id="menu-toggler" href="#">

            <span class="menu-text"></span>

        </a>


        <!--sidebar-->
        <div th:replace="layout/sidebar::sidebar"/>

        <div class="main-content">

            <div class="breadcrumbs" id="breadcrumbs">

                <script type="text/javascript">

                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }

                </script>


                <ul class="breadcrumb">

                    <li>

                        <i class="icon-home home-icon"></i>

                        <a href="#">Home</a>

                    </li>


                    <li>

                        <a href="#">Other Pages</a>

                    </li>

                    <li class="active">FAQ</li>

                </ul><!-- .breadcrumb -->


                <div class="nav-search" id="nav-search">

                    <form class="form-search">

								<span class="input-icon">

									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>

									<i class="icon-search nav-search-icon"></i>

								</span>

                    </form>

                </div><!-- #nav-search -->

            </div>


            <div class="page-content">

                <div class="page-header">

                    <h1>

                        FAQ

                        <small>

                            <i class="icon-double-angle-right"></i>

                            frequently asked questions using tabs and accordions

                        </small>

                    </h1>

                </div><!-- /.page-header -->


                <div class="row">

                    <div class="col-xs-12">

                        <!-- PAGE CONTENT BEGINS -->


                        <div class="tabbable">

                            <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">

                                <li class="active">

                                    <a data-toggle="tab" href="#faq-tab-1">

                                        <i class="blue icon-question-sign bigger-120"></i>

                                        General

                                    </a>

                                </li>


                                <li>

                                    <a data-toggle="tab" href="#faq-tab-2">

                                        <i class="green icon-user bigger-120"></i>

                                        Account

                                    </a>

                                </li>


                                <li>

                                    <a data-toggle="tab" href="#faq-tab-3">

                                        <i class="orange icon-credit-card bigger-120"></i>

                                        Payments

                                    </a>

                                </li>


                                <li class="dropdown">

                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                                        <i class="purple icon-magic bigger-120"></i>


                                        Misc

                                        <i class="icon-caret-down"></i>

                                    </a>


                                    <ul class="dropdown-menu dropdown-lighter dropdown-125">

                                        <li>

                                            <a data-toggle="tab" href="#faq-tab-4"> Affiliates </a>

                                        </li>


                                        <li>

                                            <a data-toggle="tab" href="#faq-tab-4"> Merchants </a>

                                        </li>

                                    </ul>

                                </li><!-- /.dropdown -->

                            </ul>


                            <div class="tab-content no-border padding-24">

                                <div id="faq-tab-1" class="tab-pane fade in active">

                                    <h4 class="blue">

                                        <i class="icon-ok bigger-110"></i>

                                        General Questions

                                    </h4>


                                    <div class="space-8"></div>


                                    <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">

                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-left pull-right"
                                                       data-icon-hide="icon-chevron-down"
                                                       data-icon-show="icon-chevron-left"></i>


                                                    <i class="icon-user bigger-130"></i>

                                                    &nbsp; High life accusamus terry richardson ad squid?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-1-1">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-left pull-right"
                                                       data-icon-hide="icon-chevron-down"
                                                       data-icon-show="icon-chevron-left"></i>


                                                    <i class="icon-sort-by-attributes-alt"></i>

                                                    &nbsp; Can I have nested questions?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-1-2">

                                                <div class="panel-body">

                                                    <div id="faq-list-nested-1"
                                                         class="panel-group accordion-style1 accordion-style2">

                                                        <div class="panel panel-default">

                                                            <div class="panel-heading">

                                                                <a href="#faq-list-1-sub-1"
                                                                   data-parent="#faq-list-nested-1"
                                                                   data-toggle="collapse"
                                                                   class="accordion-toggle collapsed">

                                                                    <i class="icon-plus smaller-80 middle"
                                                                       data-icon-hide="icon-minus"
                                                                       data-icon-show="icon-plus"></i>

                                                                    &nbsp;

                                                                    Enim eiusmod high life accusamus terry?

                                                                </a>

                                                            </div>


                                                            <div class="panel-collapse collapse" id="faq-list-1-sub-1">

                                                                <div class="panel-body">

                                                                    Anim pariatur cliche reprehenderit, enim eiusmod
                                                                    high life accusamus terry richardson ad squid. 3
                                                                    wolf moon officia aute, non cupidatat skateboard
                                                                    dolor brunch. Food truck quinoa nesciunt laborum
                                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                                                    a bird on it squid single-origin coffee nulla
                                                                    assumenda shoreditch et. Nihil anim keffiyeh
                                                                    helvetica, craft beer labore wes anderson cred
                                                                    nesciunt sapiente ea proident.

                                                                </div>

                                                            </div>

                                                        </div>


                                                        <div class="panel panel-default">

                                                            <div class="panel-heading">

                                                                <a href="#faq-list-1-sub-2"
                                                                   data-parent="#faq-list-nested-1"
                                                                   data-toggle="collapse"
                                                                   class="accordion-toggle collapsed">

                                                                    <i class="icon-plus smaller-80 middle"
                                                                       data-icon-hide="icon-minus"
                                                                       data-icon-show="icon-plus"></i>

                                                                    &nbsp;

                                                                    Food truck quinoa nesciunt laborum eiusmod?

                                                                </a>

                                                            </div>


                                                            <div class="panel-collapse collapse" id="faq-list-1-sub-2">

                                                                <div class="panel-body">

                                                                    Anim pariatur cliche reprehenderit, enim eiusmod
                                                                    high life accusamus terry richardson ad squid. 3
                                                                    wolf moon officia aute, non cupidatat skateboard
                                                                    dolor brunch. Food truck quinoa nesciunt laborum
                                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                                                    a bird on it squid single-origin coffee nulla
                                                                    assumenda shoreditch et. Nihil anim keffiyeh
                                                                    helvetica, craft beer labore wes anderson cred
                                                                    nesciunt sapiente ea proident.

                                                                </div>

                                                            </div>

                                                        </div>


                                                        <div class="panel panel-default">

                                                            <div class="panel-heading">

                                                                <a href="#faq-list-1-sub-3"
                                                                   data-parent="#faq-list-nested-1"
                                                                   data-toggle="collapse"
                                                                   class="accordion-toggle collapsed">

                                                                    <i class="icon-plus smaller-80 middle"
                                                                       data-icon-hide="icon-minus"
                                                                       data-icon-show="icon-plus"></i>

                                                                    &nbsp;

                                                                    Cupidatat skateboard dolor brunch?

                                                                </a>

                                                            </div>


                                                            <div class="panel-collapse collapse" id="faq-list-1-sub-3">

                                                                <div class="panel-body">

                                                                    Anim pariatur cliche reprehenderit, enim eiusmod
                                                                    high life accusamus terry richardson ad squid. 3
                                                                    wolf moon officia aute, non cupidatat skateboard
                                                                    dolor brunch. Food truck quinoa nesciunt laborum
                                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                                                    a bird on it squid single-origin coffee nulla
                                                                    assumenda shoreditch et.

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-1-3" data-parent="#faq-list-1" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-left pull-right"
                                                       data-icon-hide="icon-chevron-down"
                                                       data-icon-show="icon-chevron-left"></i>


                                                    <i class="icon-credit-card bigger-130"></i>

                                                    &nbsp; Single-origin coffee nulla assumenda shoreditch et?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-1-3">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-1-4" data-parent="#faq-list-1" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-left pull-right"
                                                       data-icon-hide="icon-chevron-down"
                                                       data-icon-show="icon-chevron-left"></i>


                                                    <i class="icon-copy bigger-130"></i>

                                                    &nbsp; Sunt aliqua put a bird on it squid?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-1-4">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-1-5" data-parent="#faq-list-1" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-left pull-right"
                                                       data-icon-hide="icon-chevron-down"
                                                       data-icon-show="icon-chevron-left"></i>


                                                    <i class="icon-cog bigger-130"></i>

                                                    &nbsp; Brunch 3 wolf moon tempor sunt aliqua put?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-1-5">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>


                                <div id="faq-tab-2" class="tab-pane fade">

                                    <h4 class="blue">

                                        <i class="green icon-user bigger-110"></i>

                                        Account Questions

                                    </h4>


                                    <div class="space-8"></div>


                                    <div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">

                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-2-1" data-parent="#faq-list-2" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-right smaller-80"
                                                       data-icon-hide="icon-chevron-down align-top"
                                                       data-icon-show="icon-chevron-right"></i>

                                                    &nbsp;

                                                    Enim eiusmod high life accusamus terry richardson?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-2-1">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-2-2" data-parent="#faq-list-2" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-right smaller-80"
                                                       data-icon-hide="icon-chevron-down align-top"
                                                       data-icon-show="icon-chevron-right"></i>

                                                    &nbsp;

                                                    Single-origin coffee nulla assumenda shoreditch et?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-2-2">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-2-3" data-parent="#faq-list-2" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-right middle smaller-80"
                                                       data-icon-hide="icon-chevron-down align-top"
                                                       data-icon-show="icon-chevron-right"></i>

                                                    &nbsp;

                                                    Sunt aliqua put a bird on it squid?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-2-3">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-2-4" data-parent="#faq-list-2" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-chevron-right smaller-80"
                                                       data-icon-hide="icon-chevron-down align-top"
                                                       data-icon-show="icon-chevron-right"></i>

                                                    &nbsp;

                                                    Brunch 3 wolf moon tempor sunt aliqua put?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-2-4">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>


                                <div id="faq-tab-3" class="tab-pane fade">

                                    <h4 class="blue">

                                        <i class="orange icon-credit-card bigger-110"></i>

                                        Payment Questions

                                    </h4>


                                    <div class="space-8"></div>


                                    <div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">

                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-3-1" data-parent="#faq-list-3" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus"
                                                       data-icon-show="icon-plus"></i>

                                                    &nbsp;

                                                    Enim eiusmod high life accusamus terry richardson?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-3-1">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-3-2" data-parent="#faq-list-3" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus"
                                                       data-icon-show="icon-plus"></i>

                                                    &nbsp;

                                                    Single-origin coffee nulla assumenda shoreditch et?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-3-2">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-3-3" data-parent="#faq-list-3" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus"
                                                       data-icon-show="icon-plus"></i>

                                                    &nbsp;

                                                    Sunt aliqua put a bird on it squid?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-3-3">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-3-4" data-parent="#faq-list-3" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus"
                                                       data-icon-show="icon-plus"></i>

                                                    &nbsp;

                                                    Brunch 3 wolf moon tempor sunt aliqua put?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-3-4">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>


                                <div id="faq-tab-4" class="tab-pane fade">

                                    <h4 class="blue">

                                        <i class="purple icon-magic bigger-110"></i>

                                        Miscellaneous Questions

                                    </h4>


                                    <div class="space-8"></div>


                                    <div id="faq-list-4" class="panel-group accordion-style1 accordion-style2">

                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-4-1" data-parent="#faq-list-4" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-hand-right" data-icon-hide="icon-hand-down"
                                                       data-icon-show="icon-hand-right"></i>

                                                    &nbsp;

                                                    Enim eiusmod high life accusamus terry richardson?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-4-1">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-4-2" data-parent="#faq-list-4" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-frown bigger-120" data-icon-hide="icon-smile"
                                                       data-icon-show="icon-frown"></i>

                                                    &nbsp;

                                                    Single-origin coffee nulla assumenda shoreditch et?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-4-2">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-4-3" data-parent="#faq-list-4" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus"
                                                       data-icon-show="icon-plus"></i>

                                                    &nbsp;

                                                    Sunt aliqua put a bird on it squid?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-4-3">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>


                                        <div class="panel panel-default">

                                            <div class="panel-heading">

                                                <a href="#faq-4-4" data-parent="#faq-list-4" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">

                                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus"
                                                       data-icon-show="icon-plus"></i>

                                                    &nbsp;

                                                    Brunch 3 wolf moon tempor sunt aliqua put?

                                                </a>

                                            </div>


                                            <div class="panel-collapse collapse" id="faq-4-4">

                                                <div class="panel-body">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et.

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>


                        <!-- PAGE CONTENT ENDS -->

                    </div><!-- /.col -->

                </div><!-- /.row -->

            </div><!-- /.page-content -->

        </div><!-- /.main-content -->


        <div class="ace-settings-container" id="ace-settings-container">

            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">

                <i class="icon-cog bigger-150"></i>

            </div>


            <div class="ace-settings-box" id="ace-settings-box">

                <div>

                    <div class="pull-left">

                        <select id="skin-colorpicker" class="hide">

                            <option data-skin="default" value="#438EB9">#438EB9</option>

                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>

                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>

                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>

                        </select>

                    </div>

                    <span>&nbsp; Choose Skin</span>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"/>

                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"/>

                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs"/>

                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>

                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>

                </div>


                <div>

                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container"/>

                    <label class="lbl" for="ace-settings-add-container">

                        Inside

                        <b>.container</b>

                    </label>

                </div>

            </div>

        </div><!-- /#ace-settings-container -->

    </div><!-- /.main-container-inner -->


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

    </a>

</div><!-- /.main-container -->


<!-- basic scripts -->


<!--[if !IE]> -->


<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>


<!-- <![endif]-->


<!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->


<!--[if !IE]> -->


<script type="text/javascript">

    window.jQuery || document.write("<script src='../static/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");

</script>


<!-- <![endif]-->


<!--[if IE]>

<script type="text/javascript">

    window.jQuery || document.write("<script src='../static/assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");

</script>

<![endif]-->


<script type="text/javascript">

    if ("ontouchend" in document) document.write("<script src='../static/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");

</script>

<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

<script src="../static/assets/js/typeahead-bs2.min.js"></script>


<!-- page specific plugin scripts -->


<script src="../static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

<script src="../static/assets/js/jquery.ui.touch-punch.min.js"></script>

<script src="../static/assets/js/jquery.slimscroll.min.js"></script>


<!-- ace scripts -->


<script src="../static/assets/js/ace-elements.min.js"></script>

<script src="../static/assets/js/ace.min.js"></script>


<!-- inline scripts related to this page -->


<script type="text/javascript">

    jQuery(function ($) {

        $('.accordion').on('hide', function (e) {

            $(e.target).prev().children(0).addClass('collapsed');

        })

        $('.accordion').on('show', function (e) {

            $(e.target).prev().children(0).removeClass('collapsed');

        })

    });

</script>


</body>

</html>

