<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${user.uuid}"></span>
    </div>
</div>
<div th:if="${not #lists.isEmpty(users)}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="user : ${users}">
                    <span th:text="${user.uuid}"></span>
                    <span th:text="${user.wxId}"></span>
                    <button class="btn" th:onclick="'getName('+${user.role}+');'">获得名字</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<a href="/upload/index" rel="external nofollow" >上传</a>

<script th:src="@{https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js}"></script>
<script th:inline="javascript">
    var user = [[${user}]];
    console.log(user.uuid + "/" + user.wxId);

    function getName(name) {
        console.log(name);
    }
</script>
</body>
</html>